<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Сформируйте вопрос</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{'/css/main.css'}"/>
    <link layout:fragment="pageStyleLink"/>
    <style layout:fragment="pageStyle"></style>

</head>
<body>
<section class="jumbotron text-center d-flex aling-items-center h-100">
    <div class="container align-self-center">
        <h1 class="jumbotron-heading">Сформируйте вопрос</h1>
        <p class="lead text-muted"></p>
        <p>
            <a th:href="@{/general/list}" class="btn btn-outline-info btn-lg my-3">Go to the list of questions</a>
        </p>
    </div>
</section>
</body>
</html>