<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="interviewDao" class="com.student.studentex.repository.StudentDaoImpl">

    </bean>
    <bean id="interviewService" class="com.student.studentex.service.StudentServiceImpl">
        <constructor-arg name="studentDao" ref="interviewDao"/>
    </bean>
</beans>